/* TABLET LANDSCAPE */

@media screen and (max-width: 854px) {
    /* .cont__sb-middle__top{
        height: 35%;
    }
    
    .cont__sb-middle__bottom{
        height: 65%;
    } */
}

/* TABLET */

@media screen and (max-width: 768px) {
    /* .cont__sb-middle__top{
        height: 13%;
    }
    
    .cont__sb-middle__bottom{
        height: 87%;
    } */
}

@media screen and (max-width: 680px) {
    .card{
        width: 45%;
        /* height: 300px; */
    }
}

/* SMALL */

@media screen and (max-width: 480px){
    .cont__ft-left__right{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .adapt{
        height: 80%;
    }

    /* #small-logo{
        display: inline;
    } */

    /* .cont__sb-middle__top{
        height: 17%;
    }
    
    .cont__sb-middle__bottom{
        height: 83%;
    } */

    .categories{
        width: 100%;
        margin: 0 auto;
    }

    .card{
        width: 45%;
        /* height: 300px; */
    }
}


@media screen and (max-width: 415px){
    .cont__ft-left__right{
        display: none;
    }

    .adapt{
        height: 80%;
    }

    .cont__ft-right__right{
        display: none;
    }

    .cont__ft-right__left{
        width: 100%;
    }
}

/* EXTRA SMALL  */
@media screen and (max-width: 320px){
    .small-logo{
        display: inline;
        width: 35px;
    }

    .cont__sb-top__logo{
        padding: 10px;


        /* 
            perché devo usare padding per ingrandire il div?
            a cosa fa riferimento il width in questo caso??? 
        */


        width: 100%;
    }
    
    .adapt{
        height: 60%;
    }

    .cont__nav button{
        font-size: 0.5rem;
    }

    .adiòs-amigo{
        display: none;
    }

    .cont__sb-middle__top{
        border: none;
    }
    
    .cont__sb-download {
        border: none;
    }

    .cont__sidebar {
        flex-basis: 10px;
    }

    .cont__nav-main{
        flex-basis: calc(100% - 10px);
    }
}
