/* TABLET */

@media screen and (max-width: 768px) {
    
}

/* SMALL */

@media screen and (max-width: 480px){
    .cont__ft-left__right{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .adapt{
        height: 80%;
    }
}

@media screen and (max-width: 415px){
    .cont__ft-left__right{
        display: none;
    }

    .adapt{
        height: 80%;
    }
}

/* EXTRA SMALL  */
@media screen and (max-width: 320px){
    .adapt{
        height: 60%;
    }

    .cont__ft-right__right{
        display: none;
    }

    .cont__ft-right__left{
        width: 100%;
    }
}
