/* TABLET LANDSCAPE */

@media screen and (max-width: 854px) {
    /* .cont__sb-middle__top{
        height: 35%;
    }
    
    .cont__sb-middle__bottom{
        height: 65%;
    } */
}

/* TABLET */

@media screen and (max-width: 768px) {
    /* .cont__sb-middle__top{
        height: 13%;
    }
    
    .cont__sb-middle__bottom{
        height: 87%;
    } */
}

/* SMALL */

@media screen and (max-width: 480px){
    .cont__ft-left__right{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .adapt{
        height: 80%;
    }

    /* #small-logo{
        display: inline;
    } */

    /* .cont__sb-middle__top{
        height: 17%;
    }
    
    .cont__sb-middle__bottom{
        height: 83%;
    } */

    .categories{
        width: 100%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 415px){
    .cont__ft-left__right{
        display: none;
    }

    .adapt{
        height: 80%;
    }

    .cont__ft-right__right{
        display: none;
    }

    .cont__ft-right__left{
        width: 100%;
    }
}

/* EXTRA SMALL  */
@media screen and (max-width: 320px){
    .adapt{
        height: 60%;
    }

    .cont__nav button{
        font-size: 0.5rem;
    }
}
