.container__tutto{
    height: 100vh;
    width: 100vw;
}

.container__nav-side-main{
    height: calc(100% - 80px);
    display: flex;
}

.container__footer{
    background-color: #282828;
    height: 80px;
    display: flex;
    color: white;
    position: sticky;
}

.cont__sidebar{
    background-color: #000000;
    flex-basis: 150px;
    height: 100%;
}

.cont__nav-main{
    background: rgb(20,25,34);
    background: -moz-linear-gradient(133deg, rgba(20,25,34,1) 0%, rgba(20,25,34,1) 28%, rgba(0,73,88,1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(20,25,34,1) 0%, rgba(20,25,34,1) 28%, rgba(0,73,88,1) 100%);
    background: linear-gradient(133deg, rgba(20,25,34,1) 0%, rgba(20,25,34,1) 28%, rgba(0,73,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141922",endColorstr="#004958",GradientType=1);

    
    flex-basis: calc(100% - 150px);
    height: 100%;
}

.cont__nav{
    height: 60px;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.cont__nav button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 0.6rem;
}

.cont__main{
    height: calc(100% - 60px);
    overflow: scroll;
    color: white;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 80%;
    margin: 0 auto;
    gap: 5px;
}

.category{
    padding: 8px 0;
    color: #848484;
    font-size: x-small;
}

.after-test{
    position: relative;
}

.after-test::after{
    content: "";
    position: absolute;
    bottom: 1;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 2px;
    background-color: #ADFF2E;
    margin-top: 2px;
}

.main__content{
    height: 100%;
    margin: 15px;
}

.main__content-titles-container{
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__content p{
    color: #6d6d6d;
    font-size: 10px;
}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
    /* gap: 2%; COME FARE GAP "FLUIDO" (dinamico)? */
    justify-content: space-between;
    padding-bottom: 10px;
}

.cards__container-due{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    padding-bottom: 10px;
}

.card{
    /* flex: 1; <-- INTERESSANTE */
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 30%;
    /* background-color: yellow; */
    
    /* **********************
    *************************
    *************************


       RICORDATI DI USARE

       <strong:>
           GRANDEZZE IN PERCENTUALE
       </strong:)>

       PER AVERE LA STESSA RESPONSIVITÀ DEL MOKUP DI RIFERIMENTO, DURANTE L'INGRANDIMENTO E IL RIMPICCIOLIMENTO DELLO SCHERMO.


    *************************
    *************************
    ************************* */
}

.song-pic{
    height: 70%
    text-align: center;
    vertical-align: middle;
}

.song-names{
    height: 30%;
    text-align: center;
    padding: 10px 0px;
}

.song-names p{
    color: #6d6d6d;
    font-size: 10px;
}

.adapt-pics{
    height: 100%;
    width: 100%;
}

.cont__sb-top__logo{
    border: 2px solid yellow;
    height: 60px;
    padding: 15px 40px 10px 15px;
    width: 100%;
}

.cont__sb-middle{
    height: calc(100% - 120px);
    padding-left: 15px;
    padding-right: 15px;
}

.cont__sb-middle__top{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid grey;
    position: sticky;
}

.cont__sb-pages{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cont__sb-pages-icons{
    width: 22px;
    height: 22px;
}

.sb__pages-text{
    color: #6D6D6D;
    font-size: 11px;
}

/* HOVER BONUS
.sb__pages-text:hover{
    color: white;
}  */

.cont__sb-middle__bottom{
    color: white;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 12px;
    overflow: auto;
}

.sb__playlist-section{
    font-size: 13px;
}

.cont__sb-create{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    padding-left: 4px;
}

.cont__sb-create-add{
    width: 40px;
    height: 40px;
}

.sb__playlist-text{
    color: #6D6D6D;
    font-size: 10px;
    line-height: 3;
    list-style: none;
}

.cont__sb-bottom{
    color: white;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}

.small-logo{
    display: none;
}

.cont__sb-download-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 15px;
    width: 15px;
}

.cont__sb-download{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    border-bottom: 1px solid grey;
    padding-left: 3px;
}

.cont__ft-left{
    height: 100%;
    flex-basis: 150px;
    display: flex;
    padding: 10px 0 10px 10px;
}

.cont__ft-center{
    flex-basis: calc(100% - 300px);
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cont__ft-right{
    flex-basis: 150px;
    display: flex;
    padding: 10px 10px 10px 0px;
}

.cont__ft-left__left{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cont__ft-left__right{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cont__footer-image{
    flex-basis: 40%;
    height: 80%;
}

.cont__footer-image img{
    height: 100%;
}

.cont__footer-song-name{
    flex-basis: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ft__song-name-text{
    font-size: smaller;
}

#ft__artist-name-text{
    font-size: x-small;
    color: #848484;
}

.cont__footer-heart{
    height: 30%;
    width: 40%;
}

.cont__footer-folder{
    height: 30%;
    width: 40%;
}

.cont__media-controls{
    height: 50%;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.cont__song-bar{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.bars{
    width: 75%;
    vertical-align: middle;
}

.minute__text{
    font-size: x-small;
}

.cont__mc-icon{
    height: 80%;
    width: 18%;
}

.cont__mc-center-icon{
    width: 28%;
    height: 100%;
}

/* ****** ADAPT ****** */
.adapt{
    height: 100%;
}

.r__adapt{
    height: 60%;
    vertical-align: middle;
}

.adapt_not_responsive{
    height: 100%;
}

.cont__song-bar__minute{
    width: 5%;
}

.cont__song-bar__bar{
    width: 60%;
}

.cont__ft-right__left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.cont__ft-right__right{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
}

.cont__footer-right-icons{
    height: 35%;
    width: 50%;
}

.cont__ft__volume-bar{
    height: 40%;
    width: 100%;
    text-align: center;
}