@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.contenitore__tutto{
    height: 100vh;
    width: 100vw;
}

.contenitore__nav-side-main{
    background-color: beige;
    height: calc(100% - 80px);
    display: flex;
}

.contenitore__footer{
    background-color: aqua;
    height: 80px;
    display: flex;
}

.cont__sidebar{
    background-color: bisque;
    flex-basis: 150px;
    height: 100%;
}

.cont__nav-main{
    background-color: cadetblue;
    flex-basis: calc(100% - 150px);
    height: 100%;
}

.cont__nav{
    height: 60px;
}

.cont__main{
    height: calc(100% - 60px);
}

.cont__sb-top{
    height: calc(100% - 60px);
}

.cont__sb-bottom{
    height: 60px;
}

.cont__ft-left{
    height: 100%;
    flex-basis: 150px;
    display: flex;
    padding: 15px 0 15px 15px;
}

.cont__ft-center{
    flex-basis: calc(100% - 300px);
    min-width: 150px;
}

.cont__ft-right{
    flex-basis: 150px;
}

.cont__ft-left__left{
    flex-basis: 70%;
    display: flex;
}

.cont__ft-left__right{
    flex-basis: 30%;
}

.cont__footer-image{
    flex-basis: 40%;
    height: 80%;
}